@charset "utf-8";
/* CSS Document */
#logo-topo>img{
	width:auto;
	height:auto;
	margin-bottom: 15px;
	margin-top: 10px;
}
.text-bold{
    font-weight: bold;
}
button.transparente:hover, button.transparente:focus, .button.transparente:hover, .button.transparente:focus {
	color: #999;
    background-color: transparent;
}
button.transparente, .button.transparente {
	background-color: transparent;
	border-color: #000000;
	color: #333;
}
.nav-header ul.button-group .nav-active .button{
	border-bottom:2px rgba(204,204,204,1) solid;
}
.fixed + .row > .columns:first-child,.fixed + .row > .column:first-child {
    margin-top: 1.250rem;
}
.panel{
    border-color: #bbb;
    background: #eee;
}
.top-bar i[class|="fi"]{
    float: left;
    padding-right: 0.9375rem;
}
a.desativado{
    color: #bbb;
}
.ellipsis-text{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.imagem-upload-box{
    border: 3px #bbb dashed;
    background-color: #FFF;
}
.imagem-upload-box input{
    position: absolute;
    height: 100%;
    margin: 0px;
    padding: 0px 15px 0px 15px;
    left: 0px;
    top:0px;
    filter:alpha(opacity:0);
    opacity: 0;
    -moz-opacity:0;
}
.imagem-upload-box .img-padrao{
    background-color: white;
}
.imagem-upload-box:hover{
    box-shadow: #FFF 5px;
}
.background-load-img{
    width: 100%;
    height: 50%;
    background-image: url('../../images/site/loaders/load-img.gif');
    background-position: center;
    background-repeat: no-repeat;
}
.table-row{
    margin: 0 0rem;
    width: 100%;
}
.album-up-img-header,.album-up-img-box{
    background-color: #FFF;
    padding: 1rem;
    border: #bbb solid 1px;
}
.album-img-container {
    border: #e1e1e1 solid 1px;
    webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.06);
    padding: 0.2rem;
}
.album-img-item{
    
}
.album-img-thumb{
    width: auto;
    height: 10.188rem;
    border: 1px solid #e1e1e1;
    overflow: hidden;
}
.album-img-thumb-image{
    height: 100%;
    width: 100%;
    text-align: center;
}
.album-img-thumb-image img{
    max-width: none;
    max-height: 100%;
}