/* 
    Created on : 29/01/2016, 11:13:28
    Author     : Thiago Moura
*/
.tool-bar{
    background-color: #BBB;
    line-height: 3rem;
    overflow: hidden;
    position: relative;
    padding: 0px;
}
.tool-bar-title{
    font-size: 1.0625rem;
    line-height: 3rem;
    height: 3rem;
    margin: 0;
}
.tool-bar-title>label{
    color: #fff;
    display: block;
    font-weight: normal;
    line-height: 3rem;
    padding: 0 1.25rem;
    width: auto;
}
.tool-bar-buttons{
    display: block;
    font-size: 0.8125rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
    transition: left 300ms ease-out;
}
.tool-bar > ul{
    list-style: none;
}
.tool-bar > ul .divider{
    border-right: solid 1px #fff;
    border-bottom: none;
    border-top: none;
    clear: none;
    height: 3rem;
    width: 0;
}
.tool-bar-buttons li{
    padding: 0;
    margin: 0;
}
.button-tool{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    margin: 0;
    position: relative;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0 0.9375rem 0 0.9375rem;
    font-size: 0.8125rem;
    background-color: transparent;
    border-color: #007095;
    transition: background-color 300ms ease-out;
    width: 100%;
}
.button-tool:hover,.button-tool:focus{
    color: #fff;
    background-color: #007095;
}
.button-tool > i{
    line-height: 3rem;
    color: #fff;
    display: inline-block;
}
.button-tool > label{
    color: #fff;
    font-weight: normal;
    line-height: 3rem;
    padding: 0 0 0 0.46875rem;
    width: auto;
    float: right;
}
.tool-0{
    display: none;
}
@media only screen {
    .tool-bar{
        height: 6rem;
    }
    .tool-bar .tool-bar-title{
        float: none;
        text-align: center;
    }
    .tool-bar-buttons{
        width: 100%;
    }
    .tool-bar-buttons li{
        float: left;
    }
    .tool-1 li{
        width: 100%;
    }
    .tool-2 li{
        width: 50%;
    }
    .tool-3 li{
        width: 33.333333333337%;
    }
    .tool-4 li{
        width: 25%;
    }
    .tool-5 li{
        width: 20%;
    }
    .tool-6 li{
        width: 16.666666666667%;
    }
    .button-tool > label{
        display: none;
    }
}
@media only screen and (min-width: 40.0625em) {
    .tool-bar{
        height: 3rem;
    }
    .tool-bar-buttons{
        width: auto;
    }
    .tool-bar .tool-bar-title{
        float: left;
    }
    .tool-bar-buttons li{
        float: right;
    }
    .tool-1 li,.tool-2 li,.tool-3 li,.tool-4 li
    ,.tool-5 li,.tool-6 li{
        width: auto;
    }
}
@media only screen and (min-width: 64.0625em) {
    .button-tool label{
        display: inline;
    }
}